  body {
    background-color: #5588a3;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #82acff;
    border-width: 5px;
    width: 5%;
  }
  h1 {
    color: #66BFBF;
  }
  h3 {
    color: #66BFBF;
  }
